@charset "utf-8";

body {
	margin: 100px;
	background-color: black;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

.dialogue {
	font-size: 20px;
	color: white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}

.input {
	font-size: 18px;
	color: white;
	font-family:"Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}

.lower_right {
	position: fixed;
	width: 90%;
	text-align: right;
	bottom: 50px;
}

.centered {
	position: fixed;
	width: 90%;
	text-align: center;
	bottom: 50%;
}

.hoverable {
	color: black;
	font: bolder;
}

.hoverable:hover {
	color: white;
	font: bolder;
}